.left {
  left: "50%";
  border: "2px solid slateblue";
  border-radius: "1%";
  position: absolute;
  border-width: 2px;
}
.right {
  right: "50%";
  border: "2px solid slateblue";
  border-radius: "1%";
  position: absolute;
  border-width: 2px;
}
